<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduationaldesign.graduation.mapper.TeacherMapper">
  <resultMap id="BaseResultMap" type="com.graduationaldesign.graduation.pojo.Teacher">
    <id column="tea_id" jdbcType="VARCHAR" property="teaId" />
    <result column="tea_password" jdbcType="VARCHAR" property="teaPassword" />
    <result column="tea_name" jdbcType="VARCHAR" property="teaName" />
    <result column="tea_sex" jdbcType="VARCHAR" property="teaSex" />
    <result column="tea_age" jdbcType="INTEGER" property="teaAge" />
    <result column="tea_birthday" jdbcType="VARCHAR" property="teaBirthday" />
    <result column="tea_phone" jdbcType="VARCHAR" property="teaPhone" />
    <result column="tea_mail" jdbcType="VARCHAR" property="teaMail" />
    <result column="tea_address" jdbcType="VARCHAR" property="teaAddress" />
    <result column="tea_remarks" jdbcType="VARCHAR" property="teaRemarks" />
    <result column="academy_id" jdbcType="INTEGER" property="academyId" />
    <association column="academy_id" property="academy" select="getAcademy" />
  </resultMap>

  <resultMap extends="com.graduationaldesign.graduation.mapper.AcademyMapper.BaseResultMap" id="ResultMapWithBLOBs" type="com.graduationaldesign.graduation.pojo.Academy">
    <result column="aca_introduce" jdbcType="LONGVARCHAR" property="acaIntroduce" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    tea_id, tea_password, tea_name, tea_sex, tea_age, tea_birthday, tea_phone, tea_mail, 
    tea_address, tea_remarks, academy_id
  </sql>
  <select id="selectByExample" parameterType="com.graduationaldesign.graduation.pojo.TeacherExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_teacher
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    from t_teacher
    where tea_id = #{teaId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_teacher
    where tea_id = #{teaId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.graduationaldesign.graduation.pojo.TeacherExample">
    delete from t_teacher
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.graduationaldesign.graduation.pojo.Teacher">
    insert into t_teacher (tea_id, tea_password, tea_name, 
      tea_sex, tea_age, tea_birthday, 
      tea_phone, tea_mail, tea_address, 
      tea_remarks, academy_id)
    values (#{teaId,jdbcType=VARCHAR}, #{teaPassword,jdbcType=VARCHAR}, #{teaName,jdbcType=VARCHAR}, 
      #{teaSex,jdbcType=VARCHAR}, #{teaAge,jdbcType=INTEGER}, #{teaBirthday,jdbcType=VARCHAR}, 
      #{teaPhone,jdbcType=VARCHAR}, #{teaMail,jdbcType=VARCHAR}, #{teaAddress,jdbcType=VARCHAR}, 
      #{teaRemarks,jdbcType=VARCHAR}, #{academyId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.graduationaldesign.graduation.pojo.Teacher">
    insert into t_teacher
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="teaId != null">
        tea_id,
      </if>
      <if test="teaPassword != null">
        tea_password,
      </if>
      <if test="teaName != null">
        tea_name,
      </if>
      <if test="teaSex != null">
        tea_sex,
      </if>
      <if test="teaAge != null">
        tea_age,
      </if>
      <if test="teaBirthday != null">
        tea_birthday,
      </if>
      <if test="teaPhone != null">
        tea_phone,
      </if>
      <if test="teaMail != null">
        tea_mail,
      </if>
      <if test="teaAddress != null">
        tea_address,
      </if>
      <if test="teaRemarks != null">
        tea_remarks,
      </if>
      <if test="academyId != null">
        academy_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="teaId != null">
        #{teaId,jdbcType=VARCHAR},
      </if>
      <if test="teaPassword != null">
        #{teaPassword,jdbcType=VARCHAR},
      </if>
      <if test="teaName != null">
        #{teaName,jdbcType=VARCHAR},
      </if>
      <if test="teaSex != null">
        #{teaSex,jdbcType=VARCHAR},
      </if>
      <if test="teaAge != null">
        #{teaAge,jdbcType=INTEGER},
      </if>
      <if test="teaBirthday != null">
        #{teaBirthday,jdbcType=VARCHAR},
      </if>
      <if test="teaPhone != null">
        #{teaPhone,jdbcType=VARCHAR},
      </if>
      <if test="teaMail != null">
        #{teaMail,jdbcType=VARCHAR},
      </if>
      <if test="teaAddress != null">
        #{teaAddress,jdbcType=VARCHAR},
      </if>
      <if test="teaRemarks != null">
        #{teaRemarks,jdbcType=VARCHAR},
      </if>
      <if test="academyId != null">
        #{academyId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.graduationaldesign.graduation.pojo.TeacherExample" resultType="java.lang.Long">
    select count(*) from t_teacher
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_teacher
    <set>
      <if test="record.teaId != null">
        tea_id = #{record.teaId,jdbcType=VARCHAR},
      </if>
      <if test="record.teaPassword != null">
        tea_password = #{record.teaPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.teaName != null">
        tea_name = #{record.teaName,jdbcType=VARCHAR},
      </if>
      <if test="record.teaSex != null">
        tea_sex = #{record.teaSex,jdbcType=VARCHAR},
      </if>
      <if test="record.teaAge != null">
        tea_age = #{record.teaAge,jdbcType=INTEGER},
      </if>
      <if test="record.teaBirthday != null">
        tea_birthday = #{record.teaBirthday,jdbcType=VARCHAR},
      </if>
      <if test="record.teaPhone != null">
        tea_phone = #{record.teaPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.teaMail != null">
        tea_mail = #{record.teaMail,jdbcType=VARCHAR},
      </if>
      <if test="record.teaAddress != null">
        tea_address = #{record.teaAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.teaRemarks != null">
        tea_remarks = #{record.teaRemarks,jdbcType=VARCHAR},
      </if>
      <if test="record.academyId != null">
        academy_id = #{record.academyId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_teacher
    set tea_id = #{record.teaId,jdbcType=VARCHAR},
      tea_password = #{record.teaPassword,jdbcType=VARCHAR},
      tea_name = #{record.teaName,jdbcType=VARCHAR},
      tea_sex = #{record.teaSex,jdbcType=VARCHAR},
      tea_age = #{record.teaAge,jdbcType=INTEGER},
      tea_birthday = #{record.teaBirthday,jdbcType=VARCHAR},
      tea_phone = #{record.teaPhone,jdbcType=VARCHAR},
      tea_mail = #{record.teaMail,jdbcType=VARCHAR},
      tea_address = #{record.teaAddress,jdbcType=VARCHAR},
      tea_remarks = #{record.teaRemarks,jdbcType=VARCHAR},
      academy_id = #{record.academyId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.graduationaldesign.graduation.pojo.Teacher">
    update t_teacher
    <set>
      <if test="teaPassword != null">
        tea_password = #{teaPassword,jdbcType=VARCHAR},
      </if>
      <if test="teaName != null">
        tea_name = #{teaName,jdbcType=VARCHAR},
      </if>
      <if test="teaSex != null">
        tea_sex = #{teaSex,jdbcType=VARCHAR},
      </if>
      <if test="teaAge != null">
        tea_age = #{teaAge,jdbcType=INTEGER},
      </if>
      <if test="teaBirthday != null">
        tea_birthday = #{teaBirthday,jdbcType=VARCHAR},
      </if>
      <if test="teaPhone != null">
        tea_phone = #{teaPhone,jdbcType=VARCHAR},
      </if>
      <if test="teaMail != null">
        tea_mail = #{teaMail,jdbcType=VARCHAR},
      </if>
      <if test="teaAddress != null">
        tea_address = #{teaAddress,jdbcType=VARCHAR},
      </if>
      <if test="teaRemarks != null">
        tea_remarks = #{teaRemarks,jdbcType=VARCHAR},
      </if>
      <if test="academyId != null">
        academy_id = #{academyId,jdbcType=INTEGER},
      </if>
    </set>
    where tea_id = #{teaId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.graduationaldesign.graduation.pojo.Teacher">
    update t_teacher
    set tea_password = #{teaPassword,jdbcType=VARCHAR},
      tea_name = #{teaName,jdbcType=VARCHAR},
      tea_sex = #{teaSex,jdbcType=VARCHAR},
      tea_age = #{teaAge,jdbcType=INTEGER},
      tea_birthday = #{teaBirthday,jdbcType=VARCHAR},
      tea_phone = #{teaPhone,jdbcType=VARCHAR},
      tea_mail = #{teaMail,jdbcType=VARCHAR},
      tea_address = #{teaAddress,jdbcType=VARCHAR},
      tea_remarks = #{teaRemarks,jdbcType=VARCHAR},
      academy_id = #{academyId,jdbcType=INTEGER}
    where tea_id = #{teaId,jdbcType=VARCHAR}
  </update>
  <select id="getAcademy" resultMap="ResultMapWithBLOBs">
    select id,aca_name,aca_introduce from t_academy where id=#{academyId}
  </select>
  <insert id="insertBatchSelective" parameterType="java.util.List">
    insert into t_teacher
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="list[0].teaId!=null">
        tea_id,
      </if>
      <if test="list[0].teaPassword!=null">
        tea_password,
      </if>
      <if test="list[0].teaName!=null">
        tea_name,
      </if>
      <if test="list[0].teaSex!=null">
        tea_sex,
      </if>
      <if test="list[0].teaAge!=null">
        tea_age,
      </if>
      <if test="list[0].teaBirthday!=null">
        tea_birthday,
      </if>
      <if test="list[0].teaPhone!=null">
        tea_phone,
      </if>
      <if test="list[0].teaMail!=null">
        tea_mail,
      </if>
      <if test="list[0].teaAddress!=null">
        tea_address,
      </if>
      <if test="list[0].teaRemarks!=null">
        tea_remarks,
      </if>
      <if test="list[0].academyId!=null">
        academy_id,
      </if>
    </trim>
     values 
    <foreach collection="list" index="index" item="item" separator=",">
      <trim prefix=" (" suffix=")" suffixOverrides=",">
        <if test="item.teaId!=null">
          #{item.teaId,jdbcType=VARCHAR},
        </if>
        <if test="item.teaPassword!=null">
          #{item.teaPassword,jdbcType=VARCHAR},
        </if>
        <if test="item.teaName!=null">
          #{item.teaName,jdbcType=VARCHAR},
        </if>
        <if test="item.teaSex!=null">
          #{item.teaSex,jdbcType=VARCHAR},
        </if>
        <if test="item.teaAge!=null">
          #{item.teaAge,jdbcType=INTEGER},
        </if>
        <if test="item.teaBirthday!=null">
          #{item.teaBirthday,jdbcType=VARCHAR},
        </if>
        <if test="item.teaPhone!=null">
          #{item.teaPhone,jdbcType=VARCHAR},
        </if>
        <if test="item.teaMail!=null">
          #{item.teaMail,jdbcType=VARCHAR},
        </if>
        <if test="item.teaAddress!=null">
          #{item.teaAddress,jdbcType=VARCHAR},
        </if>
        <if test="item.teaRemarks!=null">
          #{item.teaRemarks,jdbcType=VARCHAR},
        </if>
        <if test="item.academyId!=null">
          #{item.academyId,jdbcType=INTEGER},
        </if>
      </trim>
    </foreach>
  </insert>
  <update id="updateBatchByPrimaryKeySelective" parameterType="java.util.List">
    <foreach collection="list" index="index" item="item" separator=";">
      update t_teacher
      <set>
        <if test="item.teaPassword!=null">
          tea_password=#{item.teaPassword,jdbcType=VARCHAR},
        </if>
        <if test="item.teaName!=null">
          tea_name=#{item.teaName,jdbcType=VARCHAR},
        </if>
        <if test="item.teaSex!=null">
          tea_sex=#{item.teaSex,jdbcType=VARCHAR},
        </if>
        <if test="item.teaAge!=null">
          tea_age=#{item.teaAge,jdbcType=INTEGER},
        </if>
        <if test="item.teaBirthday!=null">
          tea_birthday=#{item.teaBirthday,jdbcType=VARCHAR},
        </if>
        <if test="item.teaPhone!=null">
          tea_phone=#{item.teaPhone,jdbcType=VARCHAR},
        </if>
        <if test="item.teaMail!=null">
          tea_mail=#{item.teaMail,jdbcType=VARCHAR},
        </if>
        <if test="item.teaAddress!=null">
          tea_address=#{item.teaAddress,jdbcType=VARCHAR},
        </if>
        <if test="item.teaRemarks!=null">
          tea_remarks=#{item.teaRemarks,jdbcType=VARCHAR},
        </if>
        <if test="item.academyId!=null">
          academy_id=#{item.academyId,jdbcType=INTEGER},
        </if>
      </set>
      where 
      tea_id = #{item.teaId,jdbcType=VARCHAR}
    </foreach>
  </update>
</mapper>